
body {
font-family: Helvetica, Georgia, Arial;
}
#username {
width:190px;
  height:35px;
  text-align:center;
  margin-top:40px;
  margin-bottom:40px;
}
#text {
width: 290px;
  height:95px;
  text-align:center;
  margin-top:40px;
  margin-bottom:40px;
}

#post {
width:295px;
  height:60px;
  background-color:green;
  color:#fff;
  font-size:35px;
  border-radius:15px;
  border-style:none;
}
.msg {
  margin:12px 0;
  padding:10px;
  width:410px;
  background-color:#fce48a;
}
#quickstart-sign-in, #quickstart-sign-up,#quickstart-verify-email,#quickstart-password-reset {
  

  height:60px;
  background-color:green;
  color:#fff;
  font-size:35px;
  border-radius:15px;
  border-style:none;


}
